$font-size-base: 20px;
$font-size: (
        min: $font-size-base / 3,
        xxs: $font-size-base / 2,
        xs: $font-size-base / 1.5,
        sm: $font-size-base,
        md: $font-size-base * 1.5,
        lg: $font-size-base * 2,
        xl: $font-size-base * 3,
        xxl: $font-size-base * 4,
        max: $font-size-base * 5,
) !default;

@mixin fontSize($size) {
  font-size: map-get($font-size, $size);
}