@import "../../assets/css/variables/variables";
.text {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
  &-min {
    @include fontSize('min');
  }
  &-xxs {
    @include fontSize('xxs');
  }
  &-xs {
    @include fontSize('xs');
  }
  &-sm {
    @include fontSize('sm');
  }
  &-md {
    @include fontSize('md');
  }
  &-lg {
    @include fontSize('lg');
  }
  &-xxl {
    @include fontSize('xxl');
  }
  &-max {
    @include fontSize('max');
  }
}
