@import "../../../assets/css/variables/variables";

.header {
  background-color: #ff0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  &-flex {
    display: flex;
  }
  &-fixed {
    position: fixed;
    top: 0;
  }
  &_menu {
    display: flex;
  }
}
