@keyframes slide-b {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slide-b-close {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}